

      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">View Cart Products</h4>
          <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
            <div id="OrderDetails" class="container" [style.display]="isDivVisible ? 'block' : 'none'">
                <div class="row">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0 table-hover">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Total</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let viewProduct of viewCartProducts">
                                    <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        
                                        <div class="media-body">
                                            <h5 class="text-left"><strong>{{viewProduct.ProductDescription}}</strong></h5>
                                            
                                        </div>
                                    </div></td>
                                    <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <input id="quantity" #cproductquantity  class="form-control" (blur) =calculatetotalamount(viewProduct,cproductquantity.value)  value="{{viewProduct.Quantity}}">
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong>{{viewProduct.Price | number : '1.2-2'}}</strong></td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong>{{viewProduct.TotalAmount | number : '1.2-2'}}</strong></td>
                                    <td class="col-sm-1 col-md-1">
                                    <button type="button" class="btn btn-danger" (click)="removeItem(viewProduct)">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button></td>
                                </tr>
                                
                                <tr>
                                    <td>   </td>
                                     <td>   </td>
                                    <td>   </td>
                                    <td><h5>Subtotal</h5></td>
                                    <td class="text-right"><h5><strong>{{subTotal  | number : '1.2-2'}}</strong></h5></td>
                                </tr>
                                <tr>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td><h5>Tax (11%)</h5></td>
                                    <td class="text-right"><h5><strong>{{productTax  | number : '1.2-2'}}</strong></h5></td>
                                </tr>
                                <tr>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td><h3>Total</h3></td>
                                    <td class="text-right"><h3><strong>{{totalAmount  | number : '1.2-2'}}</strong></h3></td>
                                </tr>
                                <tr>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>
                                    </td>
                                    <td>
                                    <button type="button" class="btn btn-success" (click)="checkout()">
                                        Checkout <span class="glyphicon glyphicon-play"></span>
                                    </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <div id="QRCodeID">
          <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
        </div>
        <div id="PayAmount" [style.display]="isPayVisible ? 'block' : 'none'">
            <h3><strong>{{paymentMessage}}</strong></h3>
          </div>

  

